@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SUSE:wght@100..800&display=swap");

input[type="checkbox"] {
    display: none;
}

#button {
    position: relative;
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px auto;
    background: linear-gradient(90deg, #1e1e1e, #485f85, #4947c2);
    transition: background 0.3s ease;
    box-shadow: 2px 4px 12px #00000014;
}

.dark #button {
    background: linear-gradient(90deg, #1e1e1e, #485f85, #e5e7eb);
}

.dark #language-toggle:checked + #button {
    background: linear-gradient(90deg, #5956e9, #6077a1, #e5e7eb);
}

@media (prefers-color-scheme: dark) {
    #language-toggle:checked + #button #knob {
    }

    #language-toggle:checked + #button #language-text {
    }
}

#knob {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 10px;
    border-radius: 50%;
    transition: 0.4s ease all;
    background-size: cover;
    background-position: center;
}

#knob.en {
    background-image: url(/images/en.png);
}

#knob.ar {
    background-image: url(/images/ar.png);
}

#language-toggle:checked + #button {
    background: linear-gradient(90deg, #5956e9, #6077a1, #2c2b2b);
}

#language-toggle:checked + #button #knob {
    left: 60px;
    background-color: #ffffff;
}

#language-toggle:checked + #button #language-text {
    color: #ffffff;
    left: 20px;
    transition: left 0.4s ease;
}
